*
ranger/bookmarks
ranger/history

!.gitignore
!compton.conf
!install.sh

!.myscript/
!.myscript/*
!.screenlayout/
!.screenlayout/*
!.texmaker/
!.texmaker/*
!.texmaker/dict/
!.texmaker/dict/*
!Wallpapers/
!Wallpapers/*
!gsimplecal/
!gsimplecal/*
!home/
!home/*
!i3/
!i3/*
!ranger
!ranger/*
!rofi/
!rofi/*
!termite/
!termite/*
