*
ranger/bookmarks
ranger/history
!.gitignore
!i3/
!i3/*
!rofi/
!rofi/*
!ranger
!ranger/*
!.screenlayout/*
!termite
!termite/*
!compton.conf
!.fonts/System SanFrancisco*
!home/
!home/*
!.myscript/
!.myscript/*
!.texmaker/
!.texmaker/*
!.texmaker/dict/
!.texmaker/dict/*
!gsimplecal/
!gsimplecal/*
!gsimplecal/
