*
ranger/bookmarks
ranger/history

!.gitignore
!compton.conf
!install.sh

!.myscript/*
!.screenlayout/*
!.texmaker/*
!.texmaker/dict/*
!Wallpapers/*
!gsimplecal/*
!home/*
!i3/*
!ranger
!ranger/*
!rofi/*
!termite/*
