#define ROFIBG  #CF151515
#define URXVTBG #CF000000

!For Rofi
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #002f343f,  #fff3f4f5,  #002f343f,  #002f343f,  #ff9575cd

!                  'background', 'border', 'separator'
rofi.color-window:  ROFIBG,       ROFIBG,   ROFIBG
rofi.modi: run,ssh,window
rofi.fullscreen: true
rofi.lines: 7 
rofi.terminal: urxvt
rofi.padding: 200
